.contact {
  background-color: darkblue;
  color: #fff;
}

.contact h1 {
  text-align: center;
  padding-top: 40px;
}

.contact-container {
  display: flex;
  padding: 40px;
  justify-content: center;
}

.contact-icon {
  margin: 0 30px;
}

.contact-icon a {
  color: #fff;
  transition: color 0.3s;
}

.contact-icon a:hover {
  color: orange;
}

.icon {
  font-size: 4rem;
}
