.skill {
  background-color: rgb(43, 42, 42);
}

.skill h1 {
  text-align: center;
  color: #fff;
  letter-spacing: 15px;
  font-size: 40px;
  padding-top: 30px;
}

.skill-list {
  display: flex;
  background-color: #f3f3f3;
  width: 80%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
}

.skill-container {
  padding-bottom: 50px;
}

.skill-container h3 {
  font-size: 30px;
  margin: 30px 0;

  text-align: center;
  color: #fff;
}

@media (max-width: 700px) {
  .skill h1 {
    font-size: 30px;
  }
  .skill-container h3 {
    font-size: 20px;
  }
}
